@using KbcKegs.Models
@model WarehouseViewModel
@{
    ViewBag.Title = "Inventory Management";
}
<div ng-app="app">
    <!-- Modal -->
    <div ng-controller="NewDeliveryController" class="modal fade" id="newDeliveryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="newDeliveryModalLabel">New Delivery</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">Order</label>
                        <div class="col-md-10">
                            <select ng-model="newDelivery.orderId" class="form-control" id="newDeliveryOrderId" name="OrderId">
                                @foreach (var order in Model.Orders)
                                {
                                    <option value="@order.Id">@order.SourceId (@order.Customer.Name)</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="newDeliveryOrderId" data-valmsg-replace="true"></span>
                            <p />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">Assets</label>
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <tr>
                                    <th>Serial #</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="asset in newDelivery.assets">
                                    <td>{{asset.serialNumber}}</td>
                                    <td>{{asset.description}}</td>
                                    <td><a href="" ng-click="removeAsset(asset)">remove</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select ng-model="selectedAssetId" class="form-control">
                                            <option ng-repeat="asset in assetsAvailable" value="{{asset.id}}">{{asset.serialNumber}}</option>
                                        </select>
                                    </td>
                                    <td>{{selectedAsset.description}}</td>
                                    <td><a href="" ng-click="addSelectedAsset()">add</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-class="{'disabled': !canSend()}" ng-click="send()">Send</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div ng-controller="NewCollectionController" class="modal fade" id="newCollectionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="newCollectionModalLabel">New Collection</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">Customer</label>
                        <div class="col-md-10">
                            <select ng-model="newCollection.customerId" class="form-control" id="newCollectionCustomerId" name="CustomerId">
                                @foreach (var customer in Model.Customers)
                                {
                                    <option value="@customer.Id">@customer.Name</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="newCollectionCustomerId" data-valmsg-replace="true"></span>
                            <p />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">Assets</label>
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <tr>
                                    <th>Serial #</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="asset in newCollection.assets">
                                    <td>{{asset.serialNumber}}</td>
                                    <td>{{asset.description}}</td>
                                    <td><a href="" ng-click="removeAsset(asset)">remove</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select ng-model="selectedAssetId" class="form-control">
                                            <option ng-repeat="asset in assetsWithCustomers" value="{{asset.id}}">{{asset.serialNumber}}</option>
                                        </select>
                                    </td>
                                    <td>{{selectedAsset.description}}</td>
                                    <td><a href="" ng-click="addSelectedAsset()">add</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-class="{'disabled': !canSend()}" ng-click="send()">Send</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div ng-controller="NewCleaningController" class="modal fade" id="newCleaningModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="newCleaningModalLabel">New Cleaning</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label">Assets</label>
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <tr>
                                    <th>Serial #</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="asset in newCleaning.assets">
                                    <td>{{asset.serialNumber}}</td>
                                    <td>{{asset.description}}</td>
                                    <td><a href="" ng-click="removeAsset(asset)">remove</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select ng-model="selectedAssetId" class="form-control">
                                            <option ng-repeat="asset in assetsNeedCleaning" value="{{asset.id}}">{{asset.serialNumber}}</option>
                                        </select>
                                    </td>
                                    <td>{{selectedAsset.description}}</td>
                                    <td><a href="" ng-click="addSelectedAsset()">add</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-class="{'disabled': !canSend()}" ng-click="send()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Recent Events</h2>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Deliveries <span class="pull-right"><a href="#" data-toggle="modal" data-target="#newDeliveryModal">+ add new</a></span></div>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr><th></th><th># Order Fulfillments</th><th width="90"># Total Assets</th></tr>
                    @foreach (var evt in Model.RecentDeliveries.Reverse())
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => evt.DateTime)</td>
                            <td>@evt.OrderFulfillments.Count</td>
                            <td>@evt.OrderFulfillments.SelectMany(f => f.Assets).Count()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Collections <span class="pull-right"><a href="#" data-toggle="modal" data-target="#newCollectionModal">+ add new</a></span></div>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr><th></th><th>Customer ID</th><th width="90"># Assets</th></tr>
                    @foreach (var evt in Model.RecentCollections.Reverse())
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => evt.DateTime)</td>
                            <td>@Html.DisplayFor(m => evt.CustomerId)</td>
                            <td>@Html.DisplayFor(m => evt.Assets.Count)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Cleaning <span class="pull-right"><a href="#" data-toggle="modal" data-target="#newCleaningModal">+ add new</a></span></div>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr><th></th><th width="90"># Assets</th></tr>
                    @foreach (var evt in Model.RecentCleanings.Reverse())
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => evt.DateTime)</td>
                            <td>@Html.DisplayFor(m => evt.Assets.Count)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/warehouse/app.js")

    <script>
        var assets = [
            @foreach (var asset in Model.Assets)
            {
                @:{ id: @asset.Id, description: '@asset.Description', serialNumber: '@asset.SerialNumber', state: '@asset.State' },
            }
        ];

        function addSuccessCallback() {
            document.location.reload();
        }

        angular.module('app').value('assetsAvailable', assets.filter(function(a){ return a.state == 'Available'; }));
        angular.module('app').value('assetsWithCustomers', assets.filter(function(a){ return a.state == 'WithCustomer'; }));
        angular.module('app').value('assetsNeedCleaning', assets.filter(function(a){ return a.state == 'NeedsCleaning'; }));
        angular.module('app').value('addSuccessCallback', addSuccessCallback);
    </script>
}
